
/* FONTS */
@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2") format("woff2"),
  url("../fonts/Inter-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2") format("woff2"),
  url("../fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2") format("woff2"),
  url("../fonts/Inter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2") format("woff2"),
  url("../fonts/Inter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}


/* Global */
html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::after,
*::before{
  box-sizing:inherit;
}
*:focus{
  outline: 2px dotted #655AF2;
  outline-offset: 3px;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family:"Inter", "Arial",sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}
img{
  max-width: 100%;
  height: auto;
}


/* Container */

.container{
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  margin: 0 auto;
}


/* Main-content */

.main-content{
  flex-grow: 1;
  background-color: #E7E7E7;
}
.block-container{
  display: flex;
  margin-top: 80px;
  margin-bottom: 80px;
}
.block-left {
  max-width: 570px;
  width: 100%;
  margin-right: 12px;
  height: 100%;
}
.block-left-intro {
  width: 100%;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius:20px 20px 0 0;
  display: flex;
  flex-direction: column;
  padding: 55px 60px;
  color:#fff;
  flex-grow: 1;
}
.intro-top{
  margin: 0;
  margin-bottom: 60px;
  max-width: 185px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: transparent;
  color: #fff;
  padding: 5px 15px;
  opacity: 0.8;
  border: 1px solid #FFFFFF;
  border-radius: 41px;
}
.intro-heading {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 25px;
}
.intro-text {
  margin: 0;
  margin-bottom: 203px;
  max-width: 347px;

}
.intro-link {
  display: inline-block;
  text-align: center;
  color:#fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 19px;
  line-height: normal;
  background-color: #4DC490;
  border-radius:0 0 20px 20px;
  padding: 29px;
  width: 100%;
  transition: color 0.4s ease,
  opacity 0.4s ease;
}
.intro-link:hover{
  color:#555;
  opacity: 0.8;
}
.intro-link:active{
  opacity: 0.6;
}
/* SIGNUP-FORM */
.signup-form {
  max-width: 570px;
  width: 100%;
  text-align: center;
  background-color:#fff;
  padding: 55px 60px 40px;
  border-radius: 20px;
  overflow: hidden;
}
.signup-form-heading {
  margin: 0;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  margin-bottom: 65px;
}
.signup-form-fields{
  display: flex;
  flex-direction: column;
}


.signup-form-field {
  border: none;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 14px;
  line-height: normal;
  background: transparent;
  color:#555;
  border-bottom: 1px solid #555;
}
.signup-form-field:focus{
  color:#000;
  border-color: #000;
  font-size: 18px;
  font-weight: 600;
}
.signup-form-field:not(:last-child){
  margin-bottom: 20px;
}
.signup-form-field:last-child{
  margin-bottom: 65px;
}
.block-right-button {
  display: block;
  width: 100%;
  background-color: #655AF2;
  border-radius: 10px;
  padding: 20px;
  color:#fff;
  border:none;
  font-size: 16px;
  line-height: normal;
  font-weight: 600;
  cursor: pointer;
}
.text-buttom {
  font-size: 11px;
  line-height: 15px;
  margin: 0;
  margin-top: 8px;
  text-align: center;
}
.buttom-link {
  color:#F03535;
  font-weight: 500;
}